<ejs-kanban keyField='status' [dataSource]='data' [cardSettings]='cardSettings' [swimlaneSettings]='swimlaneSettings' (dragStop)="onCardDragStop($event)">
      <e-columns>
        <e-column headerText='To do' keyField='To do'></e-column>
        <e-column headerText='In Progress' keyField='In Progress'></e-column>
        <e-column headerText='Testing' keyField='Testing'></e-column>
        <e-column headerText='Done' keyField='Done'></e-column>
      </e-columns>
    </ejs-kanban>
    <app-task-form *ngIf="showForm"></app-task-form>
    <button (click)="addNewTask()" style="margin-top: 20px; background-color: #007bff; color: white; border: none; padding: 5px 10px; font-size: 10px; cursor: pointer;">
      Add New Task
    </button>
    <router-outlet></router-outlet>


    